.footer__text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.16px;
  color: #00000080;
  margin-bottom: 32px;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.card {
  /* existing styles */
  position: relative;
}

.card__link {
  position: absolute;
  inset: 0;
  z-index: 0;
  text-decoration: none;
  color: inherit;
}

/* NEW CARD COLORS */
.card__carousel_color_green {
  background-color: #64d593;
}
.card__carousel_color_blue {
  background-color: #91a8f9;
}
.card__carousel_color_pink {
  background-color: #ee92d7;
}
.card__carousel_color_purple {
  background-color: #aa8ef0;
}
.card__carousel_color_orange {
  background-color: #ee955e;
}
.card__carousel_color_yellow {
  background-color: #f6d770;
}
.card__carousel_color_gray {
  background-color: #d9d9d9;
}
.card__carousel_color_white {
  background-color: #ffffff;
}

@media screen and (min-width: 750px) {
  .wrapping-row {
    grid-template-columns: repeat(auto-fill, 325px);
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding: 20px 20px 32px;
  }

  .page__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header__title {
    font-size: 20px;
  }

  .header__link {
    font-size: 20px;
  }

  .gallery__title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .carousel {
    position: relative;
    top: -43.25px;
    padding: 0;
  }
}

@media screen and (max-width: 360px) {
  .header__title {
    font-size: 16px;
  }

  .header__link {
    font-size: 16px;
  }

  .nav__links {
    gap: 12px;
  }
}
